<tr id="item-<%= item.id %>">
  <td>
    <p>
      <%= link_to " ", [item.user, item], method: :delete, remote: true, class: 'glyphicon glyphicon-scissors' %>
      <%= item.name %>
    </p>
  </td>
</tr>
