<% if @item.destroyed? %>
    $('#item-<%= @item.id %>').remove();
    $('.flash').html("<div class='alert alert-success'><%= @flash[:notice] %></div>");
<% else %>
    $('.flash').html("<div class='alert alert-danger'><%= @flash[:notice] %></div>");
<% end %>
